#leaderboard {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: -1%;
    padding-top: 4%;
    padding-bottom: 10%;
    /* padding-right: 10%; */
    /* padding-left: 10%; */
    /* padding-bottom: 2%; */
    /* padding: 5%; */
    margin: 0 auto;
    max-height: 90%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.player-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
<<<<<<< HEAD
    background-color: rgba(53, 78, 224, 0.848);
    /* border: 2px solid #000000; */
    transition: transform 3s ease, height 0.5s ease;
=======
    background-color: rgb(133, 132, 132);
    /* border: 2px solid #000000; */

    transition: transform 1s ease, height 0.5s ease;
>>>>>>> 7b54b968cbd6d52e8e39de2750237ad58d8c4da1
    /* Add height transition for smooth scaling */
    max-width: 100%;
    padding-left: 5%;

    overflow: hidden;
}

.avatar {
<<<<<<< HEAD
    width: 30px;
    height: 30px;
=======
    width: 60px;
    height: 60px;
>>>>>>> 7b54b968cbd6d52e8e39de2750237ad58d8c4da1
    /* Make Avatar A Crircle */
    border-radius: 50%;
    margin-bottom: 5px;
}

.player-name {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
<<<<<<< HEAD
    color: white;
=======

>>>>>>> 7b54b968cbd6d52e8e39de2750237ad58d8c4da1
    font-size: 14px;
}

.player-info {
    text-align: center;
    flex-grow: 1;
<<<<<<< HEAD
    color: white;
=======
>>>>>>> 7b54b968cbd6d52e8e39de2750237ad58d8c4da1
    /* Make sure player info takes remaining space */
}

.player-info h3 {
    font-size: 0.5em;
    margin: 0;
<<<<<<< HEAD
    color: white;
=======
>>>>>>> 7b54b968cbd6d52e8e39de2750237ad58d8c4da1

}

.player-info p {
    font-size: 1em;
    margin: 0;
<<<<<<< HEAD
    color: white;
=======
>>>>>>> 7b54b968cbd6d52e8e39de2750237ad58d8c4da1
}

.highlighted {
    /* Gold Color */
    border: 4px dashed rgb(255, 215, 0);
}

.tied {
    border: 4px dashed silver;
}